{% block datos_permisos %}
{# alerta resultado del formulario #}
  {% if flag == 1 %}
      <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <i class="fa fa-check-circle"></i>&nbsp;<strong>Finalizado!</strong>&nbsp;cambios realizados con exito
      </div>
  {% elseif flag == 0 %}
      <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <i class="fa fa-times-circle"></i>&nbsp;<strong>Cancelado!</strong>&nbsp;ocurrio un error al guardar los cambios
      </div>
  {% endif %}

<div class="table-responsive">
  <table class="table table-hover">
   	<thead>
        <tr>
      		<th>#</th>
          <th>Banco</th>
        	<th>Sucursal</th>
        	<th>Name</th>
        	<th>view</th>
        	<th>permisos</th>
        </tr>
  	</thead>
  	<tbody>
      {% for item in datosP %}
        <tr>
        	<td><span class="badge ">{{loop.index}}</span></td>
        	<td><span class="text-info"><strong>{{item.banco}}</strong></span></td>
          <td><em>{{item.sucursal}}</em></td>
        	<td>{{item.name}}</td>
        	<td>{{item.view}}</td>
        	<td>
            {% if item.permiso == 1 %}
            <a href="#" data-toggle="modal" data-target="#change_license" onclick="change_license('{{item.id}}','{{item.name}}','Rechazar')"><i class="fa fa-check text-success"></i></a>
            {% else %}
            <a href="#" data-toggle="modal" data-target="#change_license" onclick="change_license('{{item.id}}','{{item.name}}','Permitir')"><i class="fa fa-remove text-danger"></i></a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
</div>

<br>
<br>
<div class="modal-footer">
  <a class="btn btn-default pull-left" href="#" data-toggle="modal" data-target="#edit_license"><i class="fa fa-lock"></i>&nbsp;Permiso:&nbsp;{{permiso}}</a>
  <a class="btn btn-default" href="#"><i class="fa fa-arrow-right"></i>&nbsp;Siguiente</a>
</div>
<script type="text/javascript">
  exist();
  
  function change_license(id,name,permiso){
    $('#permiso').html(permiso);
    $('#nombre').html(name);
    $('#id').val(id);
  }

  function exist(){
      if($('.alert') != null ){
        setTimeout(function(){ $('.alert').hide(1000); }, 5000);
      }
  };
</script>
{% endblock %}




{% block edit_license %}
<!-- Modal -->
<div class="modal fade" id="edit_license" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Editar Permisos</h4>
            </div>
            <div class="modal-body">

             //code..
              
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block change_license %}
<!-- Modal -->
<div class="modal fade" id="change_license" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Cambiar Permiso</h4>
            </div>
            <div class="modal-body">
              <form>
                <input type="hidden" id="id" name="_id">
                <h5 class="text-muted text-center">¿Estás seguro que deseas <strong><span id="permiso"></span></strong> a  
                  <strong><span id="nombre"></span></strong>?
                </h5>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-lock"></i>&nbsp;Cerrar</button>
                  <button type="submit" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;Cambiar</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

